*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-size:17px;
  line-height:1.6;
    background-image:url(../image/background.jpg);
    background-size:cover;
    background-position:center;
}

@font-face {
  font-family: "comebro";
  src: url("../font/Great Wishes.otf") format("opentype");
  text-shadow: 0px 0px 5px;

}
@font-face {
  font-family: "Gillimore";
  src: url("../font/Gillimore.ttf") format("truetype");
  text-shadow: 0px 0px 5px;

}
#showcase{
 
 
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
  /*z-index: 2 !important;*/
}

#showcase h1{
  font-size:70px;
  font-family: comebro;
  line-height:1.2;
    color:#ffb77e;
}
#showcase h2{
  font-size:60px;
  font-family: Gillimore, cursive, sans-serif;
  line-height:1.3;
    color:#F0F8FF;
}
#showcase p{
  font-size:20px;
  font-family: Rightland, cursive, sans-serif;
  line-height:1.3;
    color:#F0F8FF;

}


#showcase .btn{
  font-size:25px;
  text-decoration:none;
  border:#ffb77e 1px solid;
  padding:8px 30px;
  border-radius:5px;
  margin-top:15px;
  font-family: Cream Cake, cursive, sans-serif;
}
.btn1{
background: none;
color: #ffb77e;
}
.btn2{
  color: #ffffff;
   background: #ffb77e;
}
#showcase .btn:hover{
  background:#ffb77e;
  color:#fff;
}
.filter{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index:-1; 
  
  background: #030408e3;
}
