.isiContent {
        display: none;
    }

    .lblToggle {
        background: lightblue;
        padding: 5px;
        /*border-radius: 5px;*/
        /*box-shadow: 0px 0px 5px black;*/
        cursor: pointer;
        display: block;
        transition: all ease 0.5s;
        text-align: center;
        color: black;
    }

    .lblToggle:hover {

        background: aliceblue;
        color: black;
        box-shadow: 0px 0px 0px 1px black;
    }

    .lblToggle:after {
        content: '';
        color: white;
        background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Chevron_down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><path d="M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0 c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335 c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-color: aliceblue;
        border-radius: 5px;
        width: 20px;
        height: 20px;
        position: relative;
        float: right;
        right: 10px;
        transition: all ease 0.5s;
        /* box-shadow: 0px 0px 2px black; */
    }

    .nomorId {
        float: left;
        background: lightblue;
        left: 0px;
        top: 0px;
        /*border-radius: 5px 0px 0px 5px;*/
        position: relative;
        padding: 5px 0px;
        padding-right: 10px;
        padding-left: 5px;
        border-right: 5px solid black;
        height: -webkit-fill-available;
    }

    .ctnBox {
        margin: 20px 0px;
    }

    .isiContent {
        /*margin:20px 0px;*/
        width: fill-available;

        padding: 5px;
        background: #f3f3f3;
        border: solid black 1px;
        /*border-radius: 5px;*/
        /*box-shadow: 0px 0px 5px lightblue,0px 0px 5px black;*/
    }

    input:checked+label.lblToggle:after {
        /*font-weight: bolder !important; */
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);

    }

    input.iptlblToggle {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        .lblToggle {
            text-align: left;
            text-indent: 10px;
        }

        .lblTitle {
            position: relative;
            /* left: -150px; */

        }

        .lblTitle {
            position: relative;
        }