body {
	margin: 0px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 35px;
    width: 35px;
    outline: red;
    color: red;
    right: -75px;
    position: relative;
    background-color: #00cc99;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 2px solid red;
    background-image: none;
    cursor: pointer;
}

.carousel-control-prev-icon {
    left: -75px;
}

.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
    content: '>';
    font-size: 30px;
    color: #1b847f;
    bottom: 9px;
    position: relative;
    left: 1px;
}

.carousel-control-prev-icon:after {
    content: '<';
}

#slide2d {
	display: none;
}

.carousel-indicators {
	bottom: 50px;
}

.carousel-indicators li {
	background-color: #1b847f;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

#carouselExampleIndicators {
    position: relative;
    left: 80px;
    margin-top: 100px;
    width: 350px;
}

@media only screen and (max-width: 650px) {}

@media only screen and (max-width: 769px) {
	#slide3d {
		display: none;
	}

	#slide2d {
		display: block;
	}
}

#slide2d {
		margin: 10px 30px 100px 30px;
}

.carousel-container {
	position: relative;
	width: 640px;
}

.carousel-main {
	height: 200px;
    width: 640px;
    position: relative;
    margin-bottom: 0.5em;
    font-size: 12px;
    font-family: Arial;
}

.carousel-feature {
    position: absolute;
    top: -1000px;
    left: -1000px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .1);
    border-radius: 5px !important;
    background-color: #fff;

}

.carousel-image {
    border: 0;
    /*transition: border ease 0.5s;*/
    border-radius: 5px;
    display: block;
}

.select-row {
    display: inline-flex;
}

.selected-image {
    position: relative;
    width: 10px;
    transition: all ease 0.3s;
    height: 10px;
    background: grey;
    top: -10px;
    margin: 5px;
    border-radius: 100%;
}

.bg-light-gray {
  background-color: #eeeeee;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  position: fixed;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}