 
/*============================================================================================================*/
/*============================================================================================================*/


/*============================================================================================================*/
/*============================================================================================================*/


 * {
        margin: 0px;
        padding: 0px;
        /*box-sizing: border-box;*/
    }

    body {
        overflow-y: overlay;
        overflow-x: hidden;
        font-family: calibri;
    }

    hr {
        margin: 100px 50px;
        border-top: solid #dfe2e5 0.5px;
    }

    @font-face {
        font-family: comic;
        src: url(../webfonts/comic.ttf) format("truetype");

    }

    @font-face {
        font-family: oretans;
        src: url(../webfonts/oretans.ttf) format("truetype");

    }

    @font-face {
        font-family: hamm;
        src: url(../webfonts/hamm.ttf) format("truetype");

    }

    /*================================ >>>>>>>>>>>> navbar <<<<<<<<<<<< ================================*/
    .navbar-wrap {
        background: #0f1113;
        height: max-content;
        box-sizing: border-box;
        box-shadow:0px 0px 15px -5px black;
        width: 100vw;
        position: fixed;
        top: 0px;
        z-index: 99;
        display: flex;
        color: white;
        padding: 0px 10px;
        transition: all ease 0.3s;
        transform-origin: top
    }

    .nav-center {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        display: block;
        position: relative;
        padding: 10px 0px;
    }

    .navbar-wrap a {

        user-select: none;
        color: inherit;
        width: max-content;
        text-decoration: none;
        padding: 0px 10px;
        font-family: sans-serif;
    }

    .navbar-wrap a:hover {
        color: yellow !important;
    }

    .nav-logo {
        font-size: 1.25rem;
        font-family: comic !important;

    }

    .nav-logo-span {
        transition: all ease 0.4s;
        width: auto;
        display: inline-flex;
        white-space: nowrap;
    }

    /*================================ xxxxxxxxxxxxx navbar xxxxxxxxxxxxx ================================*/

    /*================================ >>>>>>>>>>>> header content <<<<<<<<<<<< ================================*/

    .header-content-wrap {
        height: 100vh;
        width: 100vw;
        display: table;
        text-align: center;
    }

    .header-bg {
        height: 100vh;
        width: 100vw;
        background: url(../img/1.jpg);
        background-size: cover;
        background-position: center;
        filter: brightness(0.2);
        z-index: -1;
        position: absolute;
    }

    .header-content-center {
        display: table-cell;
        vertical-align: middle;
        margin: auto;
        color: white;
    }

    .main-title {
        font-family: oretans;
        font-size: 60px;
    }

    .main-down {
        cursor: pointer;
        display: table;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        font-size: 20px;
        margin: 50px auto;
        background: #0000006b;
        animation: main-down 1s infinite alternate ease-in-out;
    }

    @keyframes main-down {
        100% {
            transform: translateY(20px)
        }
    }

    .main-down i {
        font-style: normal;
    }

    .main-down-center {
        display: table-cell;
        vertical-align: middle;
    }

    .main-up{
    	position: fixed;
    	/*display: none;*/
    	opacity: 0;
    	transition: all ease 0.3s;
    	right: 10px;
    	bottom: 10px;
    	z-index: 999;
    }

    .flex-button {
        margin: 20px;
    }

    .flex-button label {
        outline: none;
        border: none;
        width: 80px;
        display: inline-block;
        cursor: pointer;
        background: #343a40;
        padding: 10px 0px;

    }

    .flex-button input {
        display: none;
    }

    .flex-button input:checked+label {
        background: #28a745;
    }

    /*================================ xxxxxxxxxxxxx header content xxxxxxxxxxxxx ================================*/
    /*================================ >>>>>>>>>>>> timeline <<<<<<<<<<<< ================================*/

    /*style ini murni buatan saya (dimar hanung) dengan melihat beberapa referensi di internet*/

    .time-wrap {
        z-index: 3;
    }

    .timeline-wrap {
        /*margin: 80px;*/
        background: white;
        margin: 20px auto;
        max-width: 800px;
        padding: 50px;
        box-shadow: 0px 0px 15px -5px black;
        border-radius: 20px;
        z-index: 3;

    }

    .timeline-desc-wrap {
        margin: auto;
        max-width: 800px;
        position: relative;
        padding: 20px 0px 20px 10px;
        border-left: solid #17a2b8 2px;
    }

    /*.timeline-desc-wrap:before{
		content: '';
		width: 3px;
		height: max-content;
		position: relative;
		left: -10px;
		background: black;

	}*/

    .timeline-year {
        padding: 5px 15px;
        background: #17a2b8;
        color: white;
        width: max-content;
        text-align: center;
        border-radius: 0px 3px 3px 0px;
        margin-left: calc(-10px);
    }

    .timeline-desc {
        padding: 20px;
        background: #ccc3;
        border-left: solid #17a2b8 2px;
        margin-top: 10px;
        position: relative;
    }

    .timeline-desc:before {
        content: '';
        position: absolute;
        width: 13px;
        top: 50%;
        left: -14px;
        height: 2px;
        background: #17a2b8;
    }

    /*================================ xxxxxxxxxxxxx timeline xxxxxxxxxxxxx ================================*/

    /*================================ >>>>>>>>>>>>> porto-content <<<<<<<<<<<<< ================================*/


    .content2-wrap {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        padding-top: 200px;
        /*margin-top: 50px;*/
    }

    .porto-daftar h4{
        font-family: comic;
        font-weight: normal;
        font-size: 25px;
        

        /*color: #2b87;*/
    }

    .porto-daftar{
        margin: 0px 10px;
    }
    .porto-input-wrap{
        margin: 0px 10px;
        max-width: 300px
    }

    .porto-wrap {
        width: 60%;
        min-width: 300px;
        max-width: 800px;
        margin: 0px auto;

    }

    .porto-wrap h2{
    	margin-bottom: 20px;
    }
	
	.porto-wrap hr{
		margin: 20px 0px;
	}

    .porto-text {
        /*border:solid #ccc 0.5px;*/
        max-width: 800px;
        padding: 20px;
        margin: 20px auto;
        /*display: flex;*/
    }

    .porto-box-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 15px;
    }
    .porto-box-row hr{
        /*margin: 10px;*/
        border:none;
        border-top: 0.3px #17a2b8 solid;
    }

    .porto-box {
        /*text-align: center; */
        width: calc(50% - 10px);
        /*text-align: center;*/
        display: table;
        /*vertical-align: middle;*/
        min-width: 300px;
        height: 200px;
        background: #ccc0;
        /* background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=626262&density=29&opacity=41); */
        font-family: calibri;
        padding-bottom: 50px;
        /*border: solid #ccc 1.5px;*/
        border-radius: 5px;
        /*padding: 25px;*/
        box-sizing: border-box;
        box-shadow: 0px 0px 15px -5px black;
        margin: 10px auto;
        transition: all ease 0.5s;
    }
    .porto-main-title{
        padding: 15px 20px;
        font-size: 16px;
        /*border: solid #ccc 0.5px;*/
        border-bottom: none;
        border-radius:5px 5px 0px 0px;
        background:#25542f;
        font-weight: normal;
        font-family: sans-serif;
        color: white;
        
    }

    .porto-sub-title{
        /*width: 100%;*/
        padding: 15px 20px;
        font-size: 15px;
        background:#182735;
        box-shadow:0px 0px 15px -5px black;
        font-family: sans-serif;
        font-weight: normal;
        color: white !important;
    }

    

    .porto-main-box{
        /*padding: 10px;*/
    }

    

    .porto-input{
    	padding: 10px;
    	outline: none;
    	border: solid #ccc 1px;

    }

    .porto-list-desc,.porto-list-title{
        padding: 10px;

        /*box-sizing: border-box;*/
    }

    .porto-btn{

        padding: .375rem .75rem;;
        margin-right: 10px;
        border-radius: 5px;
        background: #007bff;
        color: inherit;
        text-decoration: none;
        display: block;
        color: white !important;

    }

    .porto-btn:hover{
        background: #0069d9;
    }

    .dark{
        background:#343a40;
    }

    
    summary {
        transform: scale(0);
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

    }


    details[open]>summary~* {
        animation: open 0.5s ease;
        transform-origin: top;

    }

    @keyframes open {
        0% {
            /*opacity: 0;*/
            /*height: 0px;*/
            font-size: 0px;
            transform: scaleY(0);
        }

        100% {
            /*opacity: 1;*/
            /*height: 100px;*/
            font-size: auto;
            transform: scaleY(1);
        }
    }


    
    .list-judul{
        padding: 10px;
        background-clip: content-box;
        position: relative;
        border-radius:5px;
        /*font-size: 15px;*/
    }


    details>summary::-webkit-details-marker {
        display: none;
        color: #17a2b8;
    }


    details.list-judul summary {
        transition: all ease 0.5s;
        outline: none;
        cursor: pointer;
        display: list-item;
        /*border-bottom:solid 0.4px orange;*/
        position: relative;
        overflow: hidden;
        border-radius: 5px 5px 0 0;

    }

    details.list-judul summary>.porto-hover{
        content: '';
        background: #ade6ff;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        z-index: -1;
        border-radius:5px;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        top: 50px;
        left: -100px;
        position: absolute;
    }

     details.list-judul:hover summary>.porto-hover{

        top: 0px;
        left: 0px;

     }
     details.list-judul:hover{
         color:#000;
     }

     details[open] .porto-hover{
        background: transparent !important;
     }


    details[open]>.porto-list-desc {
        color:black;
        border: solid 0.1px #17a2b8 !important;
        border-top: none !important;
        border-radius: 0 0 5px 5px;
    }

    details[open]>summary {
        color:black;
        border: solid 0.1px #17a2b8 !important;
        border-bottom: none !important;
        transform: rotate(0deg) !important;
    }
    details[open].list-judul{
        transition: all ease 0.3s;
        background-color: #ade6ff;
    }


    /*================================ xxxxxxxxxxxxx porto-content xxxxxxxxxxxxx ================================*/

    /*================================ >>>>>>>>>>>>> aside <<<<<<<<<<<<< ================================*/

    aside {
        width: 25%;
        min-width: 300px;
        max-width: 400px;
        margin: 0px auto;
        /*margin-right: 26px;*/
        display: table;
        position: sticky;
        top: 50px;

    }

    @media screen and (min-width: 1024px){
        aside{
            margin:0px;
            margin-left: 50px;
        }
        .porto-wrap{
            margin: 0px;
        }

        .content2-wrap{
            justify-content: center;
        }

    }

    .profile-wrap {

        height: max-content;
        /*padding-bottom: 20px;*/
        transition: all ease 0.3s;
        margin: 10px;
        background: white;
        border: solid #dfe2e5 1px;
        border-radius: 15px;

    }

    .profile-wrap:hover {
        transform: translateY(-10px);
        box-shadow: 0px 10px 15px -5px black;
    }

    .profile-wrap hr {
        margin: 10px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
        margin: auto;
        /*padding-top: 20px;*/
        border-radius: 100%;
        background: url(../img/dimar.jpg);
        background-size: 100%;
        transition: all ease 0.3s;
    }

    .profile-image:hover{
        background-size: 170px;
    }

    .profile-name {
        background: #343a40;
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 15px 15px 0px 0px;
        margin-bottom: 20px;
    }

    .profile-desc {
        font-size: 18px;
        text-align: center;
        margin: 10px;
    }

    .profile-logo {
        position: relative;
        margin-top: 20px;
        font-size: 30px;
        display: block;
        text-align: center;
    }

    .profile-quote {
        margin: 50px 0px;
    }

    /*================================ xxxxxxxxxxxxx aside xxxxxxxxxxxxx ================================*/



	/*================================ >>>>>>>>>>>>> footer <<<<<<<<<<<<< ================================*/

        footer{
            background: #ccc3;
        }

		footer .flex{
			padding: 20px 0px;
			justify-content: center;
			display: flex;
			flex-wrap: wrap;
		}

        footer hr{
            margin: 10px 0px;
        }

		.foot-sponsor{
            display: flex;
            flex-wrap: wrap;
            max-width: 200px;
			border-radius: 5px;
			width: max-content;
		}

		.foot-sponsor a{
            /*display: block;*/
            line-height: 12px;
            font-size: 14px;
            margin: 10px 0px;
            margin-right: 10px;
            color: inherit;
            text-decoration: none;
		}
		
		footer>.flex>div{
			margin: 0px 30px;
            min-width: 250px;
		}

		@media screen and (max-width: 469px){
			footer>.flex>div{
				/*text-align: center;*/
				/*margin: 20px auto;*/
			}
			.nav-logo-span{
				display: none !important;
			}
		}

		.foot-contact a{
			transition: all ease 0.3s;
			color: inherit;
			/*width: 0px;*/
			/*height: 10px;*/
			margin-right: 10px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			border-radius: 100%;
			border: solid 5px transparent;
			background: #ffffff42;
			background-clip: content-box;
		}

		.foot-contact a:hover{
			background-color: #28a745;
			/*background-clip: border-box;*/
			color: white;
		}
		.foot-contact .ft-twitter:hover{
			background-color: #17a2b8;
		}
		.foot-contact .ft-facebook:hover{
			background-color: #007bff;
		}
		
		.foot-contact .ft-instagram:hover{
			background-color: #dc3545;
		}

		.foot-contact i{
			margin: 10px;
			font-size: 20px;
		}

        .foot-judul{
            color: #28a745;
            font-weight: bold;
            margin-top: 10px;
        }

		.copyright{
			padding: 10px;
			font-family: monospace;
			text-align: center;
		}

	/*================================ xxxxxxxxxxxxx footer xxxxxxxxxxxxx ================================*/

