   .popup-content-box,.popup-content {
        display: none;
        position: fixed !important;
        padding: 5px;
        float: right;
        margin-right: 0px;
        border-radius: 5px;
        background: #fff3cd;
        animation: pShow 0.3s ease-in-out alternate;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        max-width: 300px;
        overflow-wrap: break-word;

    }

    .pBox .ptc {
        transform: translate(200%, -200%);
    }

    @keyframes pShow {
        0% {
            filter: opacity(0);
        }

        100% {
            filter: opacity(1);
        }
    }

    .pBox {
        width: max-content;
    }

    .pBox[data-bg='tekan'] {
        background: red;
        padding: 2px;
    }