
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

   @font-face {
	font-family: "bebas";
	src: url('mama.ttf');
}
	  @font-face {
	font-family: "benue";
	src: url('bebas.ttf');
}
*
{
	margin:0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}
section
{
	position: relative;
	widows: 100%;
	height: 100%;
	background:#222;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
section:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#ff2562;
	animation:fade-in 0.5s ease-in forwards;
	animation-delay: 1s;
	opacity:0;
	
clip-path: polygon(42% 0, 100% 0, 100% 100%, 16% 100%);


}

section
{
	position: relative;
	padding: 0px 10px;
	height: calc(100vh);
	box-sizing: border-box;
}

	@media (min-width:1000px){

section
{
	position: relative;
	padding: 0px 100px;
	height: calc(100vh);
	box-sizing: border-box;
}

}

.container
{
	position: relative;
	/*padding: 300px ;*/
	display: inline-flex;
	box-sizing: border-box;
	margin: auto;
	background-color: red;
	width: -webkit-fill-available;

}

#about{
	margin-bottom: 700px;
	display: inline-flex;
	margin: auto;
}

#box1 {
	width:auto;
	max-height: 500px;
	
	/*left: 750px;*/
	/*top:150px;*/
	/*float: left;*/
	position: relative;
	box-shadow: 1px 1px 10px black;

}
#box2{
	width:600px;
	max-width: 700px;
	height:700px;
	transform: translate(-20px,20px);
	/*top: 75px;*/
	background-color: #ff2562;
	position: relative;
	box-shadow: 1px 1px 10px black;


}
#box2 h2 {
	color: white;
	margin-top: 30px;
	font-size: 30px;
}


section .member .gallery li img {
	padding: 10px;
     margin: 20px;
     float: right;
     list-style: none;
     text-decoration: none;

} 
section .Home{

	position: fixed;
	width: 100%;
	height: 100%;
	background:#000000ad;

}
section .content{
	width: 800px;
	height:500px;
	padding-top: 100px;
}

section .content h2 
{
	color: #ff2562;
	font-size: 6vw;
	font-weight: 800;
	animation:left-in 0.5s ease-in forwards;
	animation-delay: 1s;
	opacity:0;
	/*width: 500px;*/
}
section .content p 
{
	color :#fff;
	font-size: 1.2vw;
	animation:left-in 0.5s ease-in forwards;
	animation-delay: 1s;
	opacity:0;
	font-style: "bebas";
}
.digital{
	font-family: "bebas"; 
}
.black{
	    text-shadow: 1px 1px 1px white;
	color: #ff2562;
}
.pink {
		    text-shadow: 1px 1px 1px white;
		color: #222;
}
section .content a
{
	position: relative;
	display: inline-block;
	padding: 15px 20px;
	margin-top: 20px;
	background :#ff2562;
	color: #fff;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 0.95vw;
	font-weight:700;
	letter-spacing: 2px; 
	animation:left-in 0.5s ease-in forwards;
	animation-delay: 1.2s;
	opacity:0;
}
section .content a:hover
{
	background :#fff;
	color: #ff2562;
	}
section .img 
{
	position: relative;
	padding-right: 40px;
}
section .img img 
{
	margin-top: 180px;
	width: auto;
	max-width:600px; 
	animation:left-in 0.5s ease-in forwards;
	animation-delay: 1.5s;
	opacity:0;
}
.sci
{
	position: absolute;
	bottom: 75px;
	left: 150px;
	display: flex;
	animation:left-in 0.5s ease-in forwards;
	animation-delay: 1.3s;
	opacity:0;
}
.sci li 
{
	list-style: none;
}
.sci li a 
{
	text-decoration: none;
	color: #fff;
	margin-right: 30px;
	font-size: 0.93em;
} 
.sci li a:hover 
{
	color: #ff2562;
}
.nav 
{
	position: absolute;
	top: 75px;
	left: 150px;
	display: flex;
	border-left: 5px solid #ff2562;
	padding-left: 20px;
	
}
.judul{
	font-family: "benue";
	font-size: 45px;
}
.nav li 
{
	list-style: none;
}
.nav li a 
{
	text-decoration: none;
	color: #fff;
	margin-right: 30px;
	font-size: 0.93em;
	text-transform: uppercase;
	font-weight: 700;
	animation:left-in 0.5s ease-in forwards;
	animation-delay: 1s;
	opacity:0;
}
} 
.nav li a:active 
{
	color: #ff2562;
}
.nav li a:hover 
{
	color: #ff2562;
}
.nav li icon {
		position: fixed;
		top: 40px;
		right: 40px;
		width: 30px;
		height: 30px;
		flex-direction: column;
		z-index: 11;
}

.container
{
	background-color: white;
	/*padding:100px;*/
	margin: 0;


}
.About
{
	   padding: 50px;
        margin: 0px;
        background-color: white;
        text-align: center;
}
.column{
	  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.member h2 {
	text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
@media (max-width:1284px){
	 section 
 {
 	flex-direction: column-reverse;
 	justify-content: center;
 	position: relative;
	widows: 100%;
	height: 100%;
	background:#222;
	display: flex;
	justify-content: space-between;
	align-items: center;


 }
  section:before 
 {
 clip-path: polygon(63% 0, 100% 0, 100% 100%, 33% 100%);



 }
}

@media (max-width:991px){
	section .img  
{
	position: relative;
}
	section .img img 
{
	width: 1000px;
	height:auto;
}	
.menuicon {
		position: fixed;
		top:40px;
		right: 40px;
		width: 30px;
		height: 30px;
		background: url(menu.png);
		filter: invert(1);
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 1000;
	}

	#about{
	margin-bottom: 700px;
	display: block;
	margin: auto;
}

#box1 {
	width:80%;
	max-width: 700px;
	height: auto;
	max-height: 500px;
	margin: auto;
	/*left: 750px;*/
	/*top:150px;*/
	/*float: left;*/
	position: relative;
	
	box-shadow: 1px 1px 10px black;

}
#box2{
	width: 80%;
	max-width: 700px;
	height:500px;
	max-height: 500px;
	left: 80px;
	/*top: 75px;*/
	position: relative;
	background-color: #ff2562;
	box-shadow: 1px 1px 10px black;


}

	.menuicon .toggle{
		display: flex;
	}

	ul.nav{
		position:relative;
		top: 0;
		left: -100;
		width:100;
		height: 100%;
		background: rgba(0,0,0,.95);
		flex-direction: column;
		z-index: 11;
		border:none;
		padding: 50px;
		display: none;
		
		}
		ul.nav li {
			padding: 5px;
			margin: 5px 0;
			font-size:25px;
		}

	.active{
		background: url(../img/close.png);
		background-size: 30px;
		cursor: pointer;
		background-repeat: no-repeat;
		z-index: 1000;
		display: flex !important;
		position: fixed !important;
		background: rgba(0,0,0,.95);
		width: 100%;
		left: 0;
		height: -webkit-fill-available;
		transform: scale(1);
		animation: animx 0.5s ease-in-out;

		}
	/*	#box1 {
			margin: auto;
			width: auto;
		}
		#box2 {
			margin: auto;
		}
	*/
	@keyframes animx {

	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
	}

 section 
 {
 	flex-direction: column-reverse;
 	justify-content: center;
 	position: relative;
	widows: 100%;
	height: 100%;
	background:#222;
	display: flex;
	justify-content: space-between;
	align-items: center;


 }
 section:before 
 {
 	clip-path: polygon(63% 0, 100% 0, 100% 100%, 47% 100%);


 }
 section .content
 {
 	width: 100%;

 }
  section .content h2
 {
 	display: block;
    text-align: center;
    margin: auto;
 }
   section .content p
 {
 	text-align: center;
 	font-size: 1em;
 }
  section .content a
 {
 	text-align: center;
 	font-size: 1em;
 	position:495px;
 }

 section .img 
 {
 	max-width: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	padding-right: 0;
 	margin-top: 20px;
 }
 section .img img 
 {
 	max-width: 500px;
 }
 section .sci 
 {
 	left: 10px;
 	bottom: 30px;
 }

}

@keyframes fade-in 
{
	0% 
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes left-in 
{
	0% 
	{
		transform: translateX(-200px);
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

@media (max-width:655px){
		

	.black{color:#222;}
	.pink{color: #ff2562}


		 section 
 {
 	flex-direction: column-reverse;
 	justify-content: center;
 	position: relative;
	widows: 100%;
	height: 100%;
	background:#222;
	display: flex;
	justify-content: space-between;
	align-items: center;


 }
  section:before 
 {
 	clip-path: polygon(1% 0, 100% 0, 0 87%, 0 84%);


 }
  section .content
 {
 	width: 100%;


 }
  section .content h2
 {

 	display: block;
    text-align: center;
    margin: auto;
	}
   section .content p
 {
 	text-align: center;
 	font-size: 0.90em;
 }
  section .content a
 {
 	text-align: center;
 	font-size: 0.85em;
 }
 section .img 
 {
 	max-width: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	padding-right: 0;
 	margin-top: 20px;
 	position: relative;
 }
 section .img img 
 {
 	max-width: 95vw;
 	padding-right: 20px;
 }
}

