@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables";
@import "./lists";

@font-face {
  font-family: "poppins-regular";
  src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

body,html{
    font-family: "poppins-regular";
    height: 100%;
}
.btn{
    @apply bg-red-500 text-white;
    padding:5px;
}
.container{
    @apply px-2;
}



@keyframes load {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 100;
    }
  }
.fade-in{
   animation: .5s load ease-in-out;
}